# =========================
# Backend (Django)
# =========================
backend/venv/
backend/__pycache__/
backend/db.sqlite3
backend/*.sqlite3
backend/**/*.pyc

# =========================
# Frontend (React)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Variables de entorno
# =========================
.env
backend/.env
frontend/.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db